<h1>Enter your login information</h1>

<form class="" action="login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="submit" value="login">
</form>

<body>
      <%= flash[:alert] %>
</body>
